@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #e9e9e9;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.text-muted {
  @apply text-neutral-500;
}

.text-title {
  @apply text-neutral-500;
  @apply mb-2;
  @apply cursor-default;
  @apply select-none;
}

.box-border {
  @apply border-1;
  @apply border-neutral-800;
}

.social-link {
  @apply hover:bg-orange-950;
  @apply hover:text-orange-500;
  @apply transition-colors;
}

.project-link {
  @apply underline;
  @apply underline-offset-2;
  @apply transition-colors;
}

.project-link:hover {
  @apply hover:bg-orange-950;
  @apply text-orange-500;
  @apply no-underline;
}